{% include "header.html" %}

<div class="p-5 text-center bg-body-tertiary" xmlns="http://www.w3.org/1999/html">
    <div class="container py-2">
      <h1 class="text-body-emphasis">About Us</h1>
      <p class="col-lg-8 mx-auto lead">
        Welcome to TodoTracker, your personal assistant for staying organized and productive! Our mission is to provide you with a simple yet powerful tool to manage your tasks, prioritize your goals, and make the most out of your day.
        </p>
        <p class="col-lg-8 mx-auto lead">
            At TodoTracker, we understand the challenges of balancing work, family, and personal commitments. With our intuitive interface and robust features, you can streamline your workflow, reduce stress, and focus on what truly matters.

      </p>
        <p class="col-lg-8 mx-auto lead">
            Whether you're a busy professional, a student with a packed schedule, or someone juggling multiple responsibilities, ToDoTracker is here to help you stay on track and accomplish your goals.

      </p>
         <p class="col-lg-8 mx-auto lead">  <h2>Key Features: </h2> </p>
<p class="col-lg-8 mx-auto lead">  User-Friendly Interface: Our clean and intuitive interface makes it easy to add, organize, and prioritize tasks with just a few clicks. <br>
Customizable Lists: Create multiple to-do lists for different projects, categories, or areas of your life. Tailor each list to your unique needs and preferences. <br>
Cross-Platform Sync: Access your to-do lists from any device, whether you're at home, at work, or on the go. Our seamless synchronization ensures that your tasks are always up to date. <br>
    Security and Privacy: Your data security and privacy are our top priorities. We use the latest encryption and security measures to protect your information and ensure confidentiality. <br></p>
<p class="col-lg-8 mx-auto lead">Join thousands of users who have already transformed their productivity with TodoTracker. Start organizing your life today and unlock your full potential! </p>

    </div>
  </div>

{% include "footer.html" %}