{% include "header.html" %}
{% from 'bootstrap5/form.html' import render_form %}
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <div class="list-group">
      <div><h2>Create Your Todo List Now!</h2></div>
      <br>
        <div>{{ ckeditor.load() }}
            {{ render_form(form) }}</div>
  </div>

</div>

<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-1 align-items-center justify-content-center">
  <div class="list-group">
      <div>

          <hr>
          <h3>Today's Date is {{date}}</h3>
          <hr>
          <br>
          <h2>Your ToDo List</h2>

      </div>
        <div class="ui segment ui big header py-4 mb-3" style="background: #8b6d5a">
            <ol class="ui big header" >
                {% for todo in user_todo[::-1]: %}
                {% if todo.date >= date%}
                <li  class="ui segment" style="background: rgba(255, 255, 255, .5)">
                    <strong>{{ todo.title }} (Due: {{todo.date}})

                        <a  class="btn btn-secondary " href="{{url_for('expand', id=todo.id, redirect_to='todo')}}" >  Expand & Edit  </a>
                        <a class="btn btn-danger" href="{{url_for('delete', id=todo.id, redirect_to='todo')}}"  >  Delete  </a>
                    </strong>
                    <p>
                    {% if todo.complete == False%}
                        <span class="ui gray label mt-1 ">Not Complete</span>
                        {% else %}
                        <span class="ui green label mt-1">Completed</span>
                    {% endif %}
                        <a class="btn btn-primary mt-1 mx-3" href="{{url_for('complete', id=todo.id, redirect_to='todo')}}"  >  Toggle Completion Status  </a>
                    </p>
                </li>
                {% else %}
                <li  class="ui segment" style="background: rgba(0, 0, 0, .4)"><strike>{{ todo.title }} (Due: {{todo.date}}) </strike>
                    <a class="btn btn-secondary mt-1" href="{{url_for('expand', id=todo.id, redirect_to='todo')}}" >  Expand & Edit  </a>
                    <a  class="btn btn-danger" href="{{url_for('delete', id=todo.id, redirect_to='todo')}}">  Delete  </a>

                    <p>
                    {% if todo.complete == False%}
                        <span class="ui gray label mt-1">Not Complete</span>
                        {% else %}
                        <span class="ui green label mt-1">Completed</span>
                    {% endif %}
                        <a class="btn btn-primary mt-1 mx-3" href="{{url_for('complete', id=todo.id, redirect_to='todo')}}"  >  Toggle Completion Status  </a>

                    </p>
                </li>
                {% endif %}
                {%endfor%}
            </ol>
        </div>

  </div>

</div>

{% include "footer.html" %}